header, section, footer, aside, nav, article, figure {
    display: block;
}
body {
    color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-size: cover;
    background-image: url("images/b4.png");
    background-position: center;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;}
.wrapper {
    padding-bottom: 50px;
    width: 1150px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: rgba(255, 255, 255, 0.75);
}
.wrapperIndex {     
    padding-bottom: 50px;
    width: 1150px;
    height: 1150px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: rgba(255, 255, 255, 0.75); }
header {
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/logo2.png");
}
h1 {
    padding-top: 20px;
    text-align: center;
    width: 940px;
    height: 40px;
}
nav {
    position: fixed;
    width: 100%;
    top: 0;
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;
}
footer {
    width: 100%;
    bottom: 0;
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;
}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
nav li {
    display: inline;
    margin-right: 40px;
}
nav li a {
    color: #ffffff;
}
nav li a hover, nav li a.current {
    color: #000000;
}
section.courses {
    float: left;
    width:659px;
    border-right: 1px solid #eeeeee;
}
article {
    padding-left: 50px;
    padding-right: 50px;
    display:inline-block;
    clear: both;
    overflow: auto;
    width: 90%;
}
hgroup {
    margin-top: 40px;
}
figure {
    float: right;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
}
aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;
}
aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
}
aside section a:hover {
    color: #985d6a;
    background-color: #efefef;
}
a {
    color: #de6581;
    text-decoration: none;
}
h1,h2,h3{
    font-weight: normal;
}
h2{
    margin: 10px 0px 5px 0px;
    padding: 0px;
}
h3 {
    margin: 0px 0px 10px 0px;
    color: #de6581;
}
aside h2 {
    padding: 30px 0px 10px 0px;
    color: #de6581;
}
footer{
    font-size: 80%;
    padding: 7px 0px 0px 20px;
}
.clearfix{
    overflow: auto
}
.image-gallery img{
    margin: 0 auto;
    text-align: center;
    height: 200px;
    width: 200px;
    display: inline-block;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;  
    color: black;  
}
.section2 {
    padding: 50px;
}
.title{
    font-family: Sans-serif, "Times New Roman", Times, serif;
    font-variant: small-caps;
    font-style: italic;
    font-size: 60px;
    padding-left: 70px;
    color: #000000;
    text-align: center;
    width: 1000px;
    height: 40px;
}
.allfoodpics{
    margin-top: 60px;
    border-radius: 8px;
}
.currentH:hover{
    color: black;
}
.table{
    width: 400;
}
.intro{
    text-align: justify;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 75px;
}
@media screen and (max-width: 600px){
    .wrapper {
        padding-bottom: 1250px;
        margin-right: 0px;
    }
    .wrapperIndex {     
        padding-bottom: 1270px;
        margin-right: 0px;
    }
}
